# Auto detect text files and perform LF normalization
* text=auto

# Ignorar arquivos que não precisam ir para o vendor
/.github export-ignore
/.idea export-ignore
/.vscode export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/phpunit.xml export-ignore
/.pint.json export-ignore
/.php-cs-fixer.dist.php export-ignore
/tests export-ignore

# Garantir que o código fonte seja incluído no vendor
/src/ export-subst
/resources/ export-subst
